/*Home page Start --disply the flats in home page--*/
.cards{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 100px;
  margin: 0 5%;
}

/*Home page End --disply the flats in home page--*/
